# =========================================
# Python
# =========================================
# Virtual environment
venv/
.env/

# Bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# =========================================
# OS files
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Logs
# =========================================
*.log

# =========================================
# Docker
# =========================================
*.envrc
docker-compose.override.yml

# =========================================
# GCP / Service Account Keys
# =========================================
# Do NOT commit your service account JSON
myapi/rfmdmarketing-*.json

# =========================================
# IDE / Editor files
# =========================================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# =========================================
# Streamlit
# =========================================
.streamlit/

# =========================================
# Jupyter Notebook
# =========================================
.ipynb_checkpoints/

Backend/rfmdmarketing-93b202e79461.json
